.card{
    display: grid;
    grid-template-columns: 135px 1fr;
    background-color: #f6e8ae74;
    border-radius: 20px;
    column-gap: 30px;
    padding-right: 10px;
    grid-template-areas: 'img content' 'img comment' 'img buttons';
    align-items: center;
    margin: 10px;

    &__image {
        grid-area: img;
        height: 200px;
        background-color: #b0b0b0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    &__content {
        grid-area: content;
    }

    &__authors {

    }

    &__title {

    }

    &__comment {
        grid-area: comment;
    }

    &__buttons {
        grid-area: buttons;
        display: flex;
        gap: 10px;

        button {
            cursor: pointer;
        }
    }
}