.main {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    padding: 10px 20px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.content {
    background-color: #F5F7FA;
    height: 100vh;
    padding: 10px 20px;
}